body {
    background-image: url('../img/100-50-5.png');
}

@media (max-width: 768px) {
    .banner { display: none; }
}

.navbar {
  overflow: visible;
  background-color: blue;
  margin-bottom: 0px;
  clear: both;
}

.toolbar {
  margin-top: 40px;
  padding-top: 4px;
  height: 2em;
  margin-bottom: 18px;
}

#language {
  float: right;
}

/* Language selection buttons */
.language-finnish, .language-english {
    text-decoration: none;
    background: transparent;
    border: 0px;
    font-size: 100%;
    margin: 0;
    font-weight: bold;
}
.language-english:after {
    content: url("../img/button-english.gif");
    margin-left: 4px;
}
.language-finnish:after {
    content: url("../img/button-finnish.gif");
    margin-left: 4px;
}
.language-finnish:hover, .language-english:hover {
    text-decoration: underline;
    color:#e70101;
    cursor: pointer;
}
