body {
  /* background-image: url('../img/6798_30.jpg'); */
  color: white;
  background-color: black;
}

@media (max-width: 768px) {
  .banner { display: none; }
}

h2 {
  font-size: 24px;
  /* line-height: 36px; */
  /* line-height: 28px; */
  line-height: 24px;
}

a {
  color: #c2d2ee;
}

a:hover {
  color: #74a5fb;
}

.box a {
  color: inherit;
}

.bg {
  left: 0;
  position: absolute;
  top: 0;
  /* min-width: 100%; */
  /* min-width: 888px; */
  /* min-height: 100%; */
  /* height: 100%; */
  width: 100%;
  /* z-index: 5000; */
  z-index: -1;
}

.container {
  /* z-index: 6000; */
}

.navbar .nav > li > a {
  color: #abc4de;
  line-height: 30px;
  padding: 9px 10px 11px;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  /* background: url('../img/white30.png'); */
  /* background-color: rgba(255,255,255,0.25); */
  /* background-color: rgba(200,240,255,0.25); */
  background-color: rgba(160,190,255,0.3);
}

.navbar-inner {
  min-height: 50px;
  border-radius: 0;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; */
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.75);
}

.navbar .brand {
  /* display: none; */
  /* color: #ff00ff; */
  width: 160px;
  min-height: 30px;
}

.navbar {
  overflow: visible;
  white-space: nowrap;
  clear: both;
  /* z-index: 6000; */
}

.toolbar {
  margin-top: -18px;
  padding-top: 4px;
  height: 1em;
  /* height: 2em; */
  margin-bottom: 18px;
  clear: both;
  /* z-index: 6000; */
}

.language {
  float: right;
  text-align: right;
}

.search {
  float: right;
}

.form-search {
  width: 100%;
}

.form-search input {
  width: 190px;
  height: 10px;
  padding-left: 20px;
}

.form-search input {
  background-image: url("../img/search-bg.gif")
}

/* Language selection buttons */
.language-finnish, .language-english {
  text-decoration: none;
  background: transparent;
  border: 0px;
  font-size: 100%;
  margin: 0;
  font-weight: bold;
  /* color: white; */
  color: #c2d2ee;
}

.language-english:after {
  content: url("../img/button-english.gif");
  margin-left: 4px;
}
.language-finnish:after {
  content: url("../img/button-finnish.gif");
  margin-left: 4px;
}
.language-finnish:hover, .language-english:hover {
  text-decoration: underline;
  /* color:#e70101; */
  color: #74a5fb;
  cursor: pointer;
}

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs li {
  display: inline;
}

/* @media (min-width: 768px) and (max-width: 979px), */
/* @media (max-width: 767px) { */
@media (max-width: 979px) {
  .navbar-inner {
    background: url('../img/navbar-narrow.jpg') !important;
  }
  .navbar .nav > li > a {
    color: #abc4de;
    line-height: 19px;
    padding: 9px 10px 11px;
  }
}

.navbar-inner {
  background: url('../img/navbar.jpg') 0 0 no-repeat;
}


.hero-unit {
  background-color: #d1d1d1;
  background-image: -ms-linear-gradient(top, #ffffff, #d1d1d1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #ffffff, #d1d1d1);
  background-image: -o-linear-gradient(top, #ffffff, #d1d1d1);
  background-image: linear-gradient(top, #ffffff, #d1d1d1);
  background-image: -moz-linear-gradient(top, #ffffff, #d1d1d1);
  background-repeat: repeat-x;
}

.box-gray {
  color: black;
  /* background-color: #d1d1d1; */

  background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(209,209,209,0.8));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,1)), to(rgba(209,209,209,0.8)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(209,209,209,0.8));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(209,209,209,0.8));
  background-image: linear-gradient(top, rgba(255,255,255,1), rgba(209,209,209,0.8));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0.6));
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 -1px 0 rgba(0, 0, 0, 0.1) inset; */

  /* background-image: -ms-linear-gradient(top, #ffffff, #d1d1d1); */
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d1d1d1)); */
  /* background-image: -webkit-linear-gradient(top, #ffffff, #d1d1d1); */
  /* background-image: -o-linear-gradient(top, #ffffff, #d1d1d1); */
  /* background-image: linear-gradient(top, #ffffff, #d1d1d1); */
  /* background-image: -moz-linear-gradient(top, #ffffff, #d1d1d1); */
  background-repeat: repeat-x;
}

.box-red {
  color: white;
  background-color: #962e2e;
  background-image: -ms-linear-gradient(top, #c45c5c, #962e2e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c45c5c), to(#962e2e));
  background-image: -webkit-linear-gradient(top, #c45c5c, #962e2e);
  background-image: -o-linear-gradient(top, #c45c5c, #962e2e);
  background-image: linear-gradient(top, #c45c5c, #962e2e);
  background-image: -moz-linear-gradient(top, #c45c5c, #962e2e);
  background-repeat: repeat-x;
}

.box {
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  min-height: 200px;
}

.row-main-first .box-gray, .row-main-first .box-red {
  min-height: 250px;
}

.row-main-second .box-gray, .row-main-second .box-red {
  min-height: 260px;
}

.row.sponsors .box {
  min-height: 50px;
}

.row.sponsors p {
  display: inline-block;
  padding: 0.5em;
}

.box-trans {
  color: white;
  /* background-color: rgba(255,255,255,0.15); */
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.15), rgba(255,255,255,0.05));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.15)), to(rgba(255,255,255,0.05)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.15), rgba(255,255,255,0.05));
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.15), rgba(255,255,255,0.05));
  background-image: linear-gradient(top, rgba(255,255,255,0.15), rgba(255,255,255,0.05));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.15), rgba(155,195,255,0.05));
  background-repeat: repeat-x;
  min-height: 0;
}

.box p {
  /* margin: 0 0 9px; */
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-size: 12px;
  /* line-height: 18px; */
  line-height: 16px;
}

.box h1, .box h2, .box h3 {
  color: #555555;
}

.box-red h1, .box-red h2, .box-red h3 {
  /* color: black; */
  color: #fffcaa;
}

.box-demoscene h1, .box-demoscene h2, .box-demoscene h3 {
  color: #c1001f;
}

.box-esports h1, .box-esports h2, .box-esports h3 {
  color: #70ab6c;
}

.box-seminars h1, .box-seminars h2, .box-seminars h3 {
  color: #134c95;
}

.box-activities h1, .box-activities h2, .box-activities h3 {
  color: #72512c;
}

.box-gallery h1, .box-gallery h2, .box-gallery h3 {
  /* color: #134c95; */
}

.box.main-sponsors {
  text-align: center;
}
.box.main-sponsors p {
  display: inherit;
  margin: 18px 0;
}

@media (max-width: 767px) {
  [class*="span"],
  .row-fluid [class*="span"] {
    display: block;
    float: none ! important;
    width: auto ! important;
    margin-left: 0;
  }
  .row-main-first .box-gray, .row-main-first .box-red {
    min-height: 0;
  }
  .row-main-second .box-gray, .row-main-second .box-red {
    min-height: 0;
  }

}

.box .span4 {
  width: 290px;
}

.box .span3 {
  width: 210px;
}

.box .span2 {
  width: 130px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .box .span4 {
    width: 217px;
  }
  .box .span3 {
    width: 155px;
  }
  .box .span2 {
    width: 93px;
  }
  h2 {
    font-size: 18px;
    /* line-height: 36px; */
    line-height: 18px;
  }
}

@media (min-width: 1200px) {
  .box .span2 {
    width: 160px;
  }
  .box .span3 {
    width: 260px;
  }
  .box .span4 {
    width: 360px;
  }
}

/* @media (max-width: 480px) { */
/*   .box .span2 { */
/*     // width: 100px; */
/*     width: 100%; */
/*   } */
/* } */

#gallery-gallery {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

#assembly-main-logo {
  width: 100%;
  margin-bottom: 20px;
}

.nav > li > a:hover {
  background-color: #1f4999;
  color: white;
}



.btn {
  /* display: inline-block; */
  /* *display: inline; */
  /* padding: 4px 10px 4px; */
  /* margin-bottom: 0; */
  /* *margin-left: .3em; */
  /* font-size: 13px; */
  /* line-height: 18px; */
  /* *line-height: 20px; */
  /* color: #333333; */
  /* text-align: center; */
  /* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); */
  /* vertical-align: middle; */
  /* cursor: pointer; */
  /* background-color: #f5f5f5; */
  /* *background-color: #e6e6e6; */
  /* background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); */
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); */
  /* background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); */
  /* background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); */
  /* background-image: linear-gradient(top, #ffffff, #e6e6e6); */
  /* background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); */
  /* background-repeat: repeat-x; */
  /* border: 1px solid #cccccc; */
  /* *border: 0; */
  /* border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); */
  /* border-color: #e6e6e6 #e6e6e6 #bfbfbf; */
  /* border-bottom-color: #b3b3b3; */
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  /* filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); */
  /* filter: progid:dximagetransform.microsoft.gradient(enabled=false); */
  /* *zoom: 1; */
  /* -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); */
  /*    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); */
  /*         box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); */
}

.navbar .btn {
  /* display: inline-block; */
  /* padding: 4px 10px 4px; */
  /* margin: 10px 5px 6px; */
  /* line-height: 18px; */
}

.navbar .btn-group {
  /* padding: 5px 5px 6px; */
  margin: 0;
}

.navbar .btn-navbar {
  /* display: none; */
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #2c2c2c;
  *background-color: #222222;
  /* background-color: rgba(255,0,255,0.5); */
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  /* background-image: -moz-linear-gradient(top, #333333, #222222); */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6), rgba(0,30,50,0.8) );
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  /* border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); */
  border-color: rgba(120, 190, 255, 0.3) rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 1);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-navbar .icon-bar {
  background-color: rgba(255,255,255,0.7);
}

