body {
    background-image: url('../img/100-50-5.png');
}

@media (max-width: 768px) {
    .banner { display: none; }
}

.navbar {
  overflow: visible;
  white-space: nowrap;
  clear: both;
}

.toolbar {
  margin-top: -18px;
  padding-top: 4px;
  height: 2em;
  margin-bottom: 18px;
  clear: both;
}

.language {
  float: right;
  text-align: right;
}

.search {
  float: right;
}

.form-search {
  width: 100%;
}

.form-search input {
  width: 190px;
  height: 10px;
  padding-left: 20px;
}

.form-search input {
  background-image: url("../img/search-bg.gif")
}

/* Language selection buttons */
.language-finnish, .language-english {
    text-decoration: none;
    background: transparent;
    border: 0px;
    font-size: 100%;
    margin: 0;
    font-weight: bold;
}
.language-english:after {
    content: url("../img/button-english.gif");
    margin-left: 4px;
}
.language-finnish:after {
    content: url("../img/button-finnish.gif");
    margin-left: 4px;
}
.language-finnish:hover, .language-english:hover {
    text-decoration: underline;
    color:#e70101;
    cursor: pointer;
}

.breadcrumbs ul {
    list-style: none;
}

.breadcrumbs li {
    display: inline;
}
