h1, h2, h3, h4, h5 {color:#333; border:0; font-family:"Trebuched MS", Verdana, Arial; font-weight:bold;}
a, a:link {color:#2d778e;}
a:hover {text-decoration:none; color:#e70101;}
h2 a, h2 a:link, h2 a:visited {text-decoration:none; color:#2d778e;;}
h1 {font-size:2em; border-bottom:1px solid #ccc; }
h2 {font-size:1.5em;}
h3 {font-size:1.3em;}
h4 {font-size:1.2em; margin:0px;}
h5 {font-size:1.1em;}
a.language-finnish:hover, a.language-english:hover {text-decoration:underline; color:#e70101;}
a.readmore {color:#6e8f10; font-weight:bold; text-decoration:none; float:right; margin-bottom:5px;}
a.readmore:hover {text-decoration:underline; color:#e70101;}
p.subtitle {font-weight:bold; font-size:0.9em; margin:0;}
span.date {color:#6e8f10;}
#content-column h1 {margin:0px 0 5px 0; padding:0;}
#content-column h2 {margin:10px 0 5px 0; padding:0;}
#footer-links {margin:30px 0 0 20px; color:#efefef; text-align:center;}
#footer-links a {color:white; text-decoration:none; font-weight:bold;}
#footer-links a:hover {text-decoration:underline;}
#footer #banner-bottom {margin:35px 180px 0 170px;}
h1#home {margin:0;text-indent:-9999cm; border:0;}
h1#home a {width:300px; height:177px; display:block; float:left; text-indent:-9999cm;}
#tickets {width:300px; height:177px; display:block; float:right; text-indent:-9999cm;}
#banner-top {float:left; margin:90px 0 0 95px;}
#button-top-1, #button-top-2  {margin: 82px 2px 0 0px; width:157px; height:70px; float:right; padding:2px;}
#button-top-2 {margin-right:80px; width:130px;}
#button-top-1 {margin:80px 40px 0 0;}
.banner {text-align:center; margin:5px 0;}
img {border:0;}
.sponsors {text-align:center;}
.sponsors h4 {margin:0 4px 10px 0;}
.sponsors a {text-decoration:none; color:#333;}

body {
padding:0 0 0 0;
margin:0;
font-family:Verdana, "Trebuchet MS", "Lucida Grande", Arial, Sans-serif;
font-size:0.7em;
}
