/* reset.css */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:2em;line-height:1;margin-bottom:0.5em;}
h2, h3 {font-size:1em;margin-bottom:0.75em;font-weight:bold}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input[type=text], input[type=password], input.text, input.title, textarea, select {background-color:#fff;border:1px solid #ccc; padding:5px;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#666;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

/* ASSEMBLY CMS ADMIN STYLES */

body {
    margin:0;
    padding:0;
    background-color: #eee;
}

* {
    font-family: "Helvetica", "Lucida Sans", Arial, sans-serif;
}

a {
    text-decoration: none;
}

/* Page grid/layout */

#header {
    margin-bottom:1em;
    padding-left:2em;
    padding-top:1em;
    padding-bottom:1.25em;
    padding-right:2em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
    background-color: white;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
}

#header h1 {
    float: left;
    margin-top:0.2em;
    margin-left: 0.75em;
    font-size:1.6em;
    font-weight: bold;
    font-family: Georgia;
}

#header h1 a {
    color: #333;
}

#content, #navigation {
    padding-top:1em;
}

.button.toggle-navigation {
    float: right;
    margin-right: 1em;
}

.actionbar {
    position: fixed;
    top: 5em;
    left: 60em;
    width:15em;
}

#page {
    position: relative;
    background-color: white;
    top: 5em;
    left: 2em;
    width:50em;
    margin:1em 0em 1em 0em;
    padding:0em 1.5em 1em 1.5em;
    min-height: 500px;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
}

/* Intra-page styles */
#page .section {
    margin:1em -1.5em 0em;
    padding:0em 1.5em 1em;
}

#page .section h2,  #page .section h3 {
    margin-bottom:0;
}

#page ul {
    margin-bottom:0;
}

#page form h3 {
    background-color: #ddd;
    padding:1em;
}

/* Navigation tree */
#navigation {
    display: none;
}

#navigation-tree.jstree-focused {
    background-color: inherit;
}

.header-buttons {
    position:absolute;
    width:50em;
    padding:0;
}

input.close-navigation, input.open-navigation {
    position:absolute;
    right:0em;
    margin:0;
    top:0.5em;
}

/* actions bar */
#navigation-actions {
    display:none;
}

.actionbar .section {
    background-color:white;
    padding:1em;
    padding-top:0.5em;
    margin-top:1em;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
}

.actionbar .section.expandable {
    padding-bottom:0em;
}

.actionbar .section h3 {
    font-size: 10pt;
    font-weight: bold;
    margin-bottom:0.5em;
}

.actionbar ul {
    list-style-type:none;
    margin-left:0;
    margin-bottom:0;
    margin-right:0;
}

.actionbar li.selected {
    background-color: yellow;
}

.actionbar li {
    padding:0.25em 0em;
}


.actionbar p.hint {
    font-size: 8pt;
    margin-bottom:0;
}

/* Expandable sections */
.expandable .opener {
    text-align: center;
    margin-bottom:0;
}

.expandable .opener span {
    font-weight:normal;
}

.expandable .opener .open {
    display: none;
}

.expandable .expand {
    display: none;
}

.expandable h3.opener {
    text-align: left;
}

.expandable h3.opener>span {
    text-align: left;
    float:right;
}

.expandable h3 .opener {
    text-align: left;
}

.expandable h3 .opener span {
    display: block;
    float: left;
}

/* other stuff */
div.preview {
    color:#555;
}

span.match {
    background-color:yellow;
}

span.discreet {
    color:#666;
    font-size:80%;
}

.widget input.textType {
    font-size:1.6em;
    font-family:Georgia;
    width: 97%;
}

.widget {
    margin:0 0 1em 0;
}

.field span {
    color:#666;
}

.error-notice {
    margin:0;
}

.button {
    border:1px solid #ccc;
    cursor:pointer;
    font-size:1.0em;
    line-height:16px;
    padding:3px 8px;
    text-decoration:none;
    background:white;
    font-weight:normal;
}

.button.selected {
    background-color: yellow;
}

.button:hover {
    border:1px solid #aaa;
}

#page ul.messages.section {
    padding:0;
    margin:0;
}

ul.messages li, .notification {
    background-color:#FFFFE0;
    border:1px solid #E6DB55;
    color:#333;
    padding:3px 10px;
    list-style:none;
    margin:0 0 15px 0;
}

ul.messages li.warning {
    background-color:#FFDDDD;
    border:1px solid #FF0000;
    color:#333;
}

.widget img {
    margin-top:0.5em;
    max-width: 49em;
}

a.highlight {
    background-color:yellow;
}

/* clearfix */
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/* jQuery fixes */
.ui-icon {
    display: inline-block;
}

/* Search */
#search {
    float: right;
}

/* Search and replace */

.search-and-replace ul {
    list-style-type: none;
    margin-left: 0;
}

/* XXX as this is not a template, we refer to the actual icon file in a
   location that hopefully works. */
input.search {
    background-image: url("/@@/asm.cmsui/icons/zoom.png");
    background-repeat: no-repeat;
    background-position: 95% center;
}

.search-and-replace label {
    font-weight: normal;
}
