/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input[type=text], input[type=password], input.text, input.title, textarea, select {background-color:#fff;border:1px solid #ccc; padding:5px;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#666;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

/* ASSEMBLY CMS ADMIN STYLES */

body {
    background:#efefef;
    margin:0;
    padding:0;
}

* {
    font-family: "Helvetica", "Lucida Sans", Arial, sans-serif;
}

a {
    text-decoration: none;
}

.selected {
    font-weight:bold;
}

.no-title {
    font-style: italic;
}

#header {
    background:#333;
    color:#999;
    height:20px;
    padding:10px 20px;
}

#header h1 {
    font-size:1.5em;
    margin:0;
    color:#999;
    width:500px;
    float:left;
    padding:2px 0;
}

#container {
    padding:20px 20px;
}

#user-info {
    float:right;
}


#footer {
    background:#333;
    padding:10px 15px;
    color:white;
}

#admin-menu {
    width: 200px;
    float:left;
    margin-right:20px;
}

#content {
    margin-left:220px;
}

#controls {
    float:left;
    width:150px;
}

.column {
    float:left;
}

.column ul {
    list-style:none;
    margin:0;
    padding:0;
}

.column li {
    margin:0;
}

.menu-item .menu-head {
    background:#ccc;
    color:#666;
    padding:5px 10px 4px 10px;
    font-weight:bold;
}

.menu-item .menu-content {
    background:#fff;
    padding:5px 10px;
    border:1px solid #ccc;
}

.menu-item .menu-content li {
    padding:3px 0;
}

.menu-item .menu-content li li {
    margin:0 0 0 8px;
}

.menu-item {
    margin:0 0 20px 0;
    font-size:1.2em;
}

.menu-item .selected {
    background:#f2f4c4;
}

#search {
    float:right;
}
#search input {
    padding:2px;
    margin:0;
}

#search form {
    margin:0;
}

#search-results>ul>li>a {
    font-weight:bold;
}

div.preview {
    color:#555;
}
span.match {
    background-color:lightyellow;
}

#header ul {
    list-style:none;
}

#header a {
    color:#fff;
}

.widget input.textType {
    font-size:1.6em; width:100%;
    font-family:Georgia;
    margin:0 0 10px 0;
}

.field span {
    color:#666;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:-1px;
    margin:0 0 10px 0;
    color:#666;
    font-size:2.0em;
}

#search-results {
    background:#fff;
    padding:10px 15px;
}

#search-results ul {
    padding:0;
    margin:0;
}

#search-results li {
    margin:5px 0;
    padding:5px;
    list-style:none;
    border-bottom:1px solid #ccc;
}

.error-notice {
    margin:0;
}

#page-edit {
    min-width:500px;
    max-width:800px;
    float:none;
    margin-right:220px;
}

#page-sidebar {
    float:right;
    width:180px;
    padding:20px;
    margin-top:20px;
}

#page-sidebar h3 {
    margin:0 0 10px 0;
    padding:0;
    color:#333;
    font-size:1.3em;
}

.actionButtons {
    margin:5px 0;
}

.actionButtons input {
    display:block;
    width:160px;
}

.sb-item ul {
    margin:0;
    padding:0;
}

.sb-item {
    margin:0 0 15px 0;
    margin:10px 0 0 0;
    padding:10px 0;
    border-top:1px solid #ccc;
}

.button {
    -moz-border-radius:11px;
    -moz-box-sizing:content-box;
    -webkit-border-radius:11px;
    border:1px solid #ccc;
    cursor:pointer; 
    font-size:1.0em;
    line-height:16px;
    padding:3px 8px;
    text-decoration:none;
    background:white;
    font-weight:bold;
}

.button:hover {
    border:1px solid #aaa;
}

.message {
    background-color:#FFFFE0;
    border:1px solid #E6DB55;
    color:#333;
    padding:3px 10px;
    list-style:none;
    margin:0 0 15px 0;
}

#header a.visit-site {
    -moz-border-radius:3px;
    display:inline-block;
    background:#666;
    color:#333;
    font-size:12px;
    padding:3px;
    margin-left:10px;
    font-style:normal;
    letter-spacing:0;
}

#header a.visit-site:hover {
    background:#ccc;
}

/* navigation */
#navigation-wrapper {
    display:none;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#navigation-background {
    background-color:#000;
    opacity:0.5;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#navigation {
    position:absolute;
    left:50px;
    top:90px;
    bottom:50px;
    right:50px;
    background-color:white;
}

#navigation-tree {
    width:400px;
    position:absolute;
    bottom:0px;
    top:2em;
    overflow:auto;
    border:none;
}

#navigation-tree ul {
    list-style:none;
    margin:0;
    padding:0;
}

#navigation-tree ul ul li {
    margin:0;
    margin-left:2em;
}

#navigation-details {
    position:absolute;
    left:420px;
    right:0px;
    bottom:0px;
    top:2em;
    overflow:auto;
    border:none;
}

/* clearfix */
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/* jQuery fixes */
.ui-icon {
    display: inline-block;
}
