body {
    background:#fefefe url(images/bg-header.png) repeat-x;
    color:#222;
    font:15px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
}

a {
    color:#0bd8b9;
    text-decoration:none;
}

a img {border:0;}

#page h1 {
    border-bottom:1px solid #ddd;
    padding-bottom:0.4em;
}

h1 {
    font-size:26px;
}

h2 {
    font-weight:normal;
    font-size:22px;
    margin:1.5em 0 0.5em 0;
}

blockquote {
    font:17px/1.5 Georgia, "Times New Roman", serif;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:1em 0;
    text-align:center;
    margin:1em 0;
    font-style:italic;
}

#main {
    width:980px;
    margin:0 auto;
}

#header {
    height:38px;
    padding:30px 0 15px 0;
    color:#fff;

}

#content {
    background:#fff;
    -webkit-box-shadow:0 2px 3px #ccc;
}

#content #page {
    float:right;
    width:640px;
    padding:30px;
}

#contents {
    float:left;
    width:220px;
    padding:20px;
}

#contents a {
    color:inherit;
}
#contents ul li {
    list-style:none;
    margin:0;
    padding:0.6em 0;
    border-bottom:1px solid #ddd;
    font-size:18px;
}

#contents ul li.active {
}

#contents ul li ul {
    margin:0;
    padding:0;
}

#contents ul li ul li {
    border-bottom:0;
    font-size:15px;
    margin-left:8px;
    padding:0.4em;
}

table.contact-info td {
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

table.contact-info td:first-child {
	padding-right: 1em;
	text-align: right;
}
