/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0 !important;}

/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.dot {
  padding-top:15px;
  background:url(/@@/asm.summer11/img/bg-header.png) no-repeat;
}

h1, h2, h3, h4, h5 {
  color:#fff;
}

.huge, h1 {
	font-size: 72px;
	line-height: 50px;
	letter-spacing: -1px;
	font-weight:normal
}

.large, h2 {
	font-size: 36px;
	line-height: 36px;
	font-weight:200;
	margin:1em 0 0.5em 0;
	
}

.big, h3 {
	font-weight:200;
	font-size: 28px;
	line-height: 36px;
	margin:1.2em 0 0.5em 0;
}

h4 {
	font-size:22px;
	font-weight:200;
	margin:1.5em 0 0.5em 0;
}

h2:first-child {
  margin-top:0;
}

.small {
	font-size: 13px !important;
	line-height: 18px !important;
   margin:0;
}

.intro {
	font-size:18px;
	font-weight:200;
	line-height:22px;
	color:#7dbe31;
}

.intro img {
	margin-bottom:20px;
}

html {
  background:#000;
  background:url(/@@/asm.summer11/img/bg-black.png) repeat-x #141a16;
}

body {
  background:#000;
	background-color:#141a16;
	padding:0;
}

.normal, body {
	font: 15px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#c9e3d5;
}

::selection 	 	{background: #78915b;}
::-moz-selection 	{background: #78915b;}
img::selection 		{background: transparent;}
img::-moz-selection {background: transparent;}

a {
	color:#03c7de;
	text-decoration:none;
}

a:hover {
	color:#a5fe3e;
	-webkit-transition:color 0.25s linear;
}

p {
	margin:0 0 1.5em 0;
	color:#c9e3d5;
}

hr {
	background:#2c3631;
	color:#2c3631;
	border:0;
	border-top:1px dotted #2c3631;
	margin:2em 0;
	-webkit-box-shadow:0 -1px 0px #030504;
	   -moz-box-shadow:0 -1px 0px #030504;
	        box-shadow:0 -1px 0px #030504;
}

#main {
	width:980px;
	margin:0 auto;
}

/* HEADER */

#header {
  padding:4px 4px 2px;
  width:986px;
  height:89px;
  margin:0 auto;
  background:rgba(0,0,0,0.85);
  border:1px solid rgba(255,255,255,0.15);
  border-top:0;
  position:relative;
  -webkit-border-radius:0 0 4px 4px;
     -moz-border-radius:0 0 4px 4px;
          border-radius:0 0 4px 4px;
}

#header #logo {
  float:left;
  margin-right:20px;
}

#header #tickets {
  position:absolute;
  right:3px;
  top:0px;
}

#header .header-content {
  height:89px;
  width: 100%;
  overflow: hidden;
}

#header .header-content h3 {
  margin:0;
  float:left;
  font-size:18px;
  color:#86cc35;
}

#header ul {
  margin-top:5px;
  float:left;
  list-style:none;
  height:30px;
  width:660px;
}

#header a {
  color:#fff;
  padding-bottom:6px;
}

#header #nav li a:hover, #header #nav li.active {
  border-bottom:4px solid #86cc35;
  -webkit-transition:0.1s linear border-bottom;
}

#header #date {
  
}

#header #lang {
  float:right;
  margin-right:15px;
  line-height:35px;
  font-size:14px;
}

#header #search {
  float:right;
}

#header #search input {
  background:#000;
  border:1px solid #333;
  padding:5px 10px;
  width:140px;
  font-size:12px;
  color:#ccc;
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
          border-radius:3px;
}

#header #search input[type=submit] {
  width:auto;
  background:#333;
}

#header ul li {
  float:left;
}

#header #nav {
  border-top:1px solid #333;
  margin-top:10px;
  padding-top:4px;

}

#header #nav li {
  float:left;
  font-size:16px;
  text-transform:uppercase;
  margin:10px 30px 0 0;
  color:#fff;
}

#header #nav li a {
  color:#fff;
}

/* CONTENT */

#title {
  padding-top:100px;
}

.content {
  width:980px;
  margin:0 auto;
}

#container {
    margin-top:40px;
    border-top:1px solid #2a342f;
    border-bottom:1px solid #2a342f;;
    background:url(/@@/asm.summer11/img/bg-noise.jpg) #16201a;
    padding:30px 0;
    min-height:400px;
}

#content {
  width:680px;
}

#footer, #footer a {
  padding: 40px 0;
  color: #999;
}

/* COMPOS */

.compo-cat {
  list-style:decimal-leading-zero;
  color:#7dbe31;
}

.compo-cat li {
  border-top:1px solid #2c3631;
	margin:0.5em 0;
	-webkit-box-shadow:0 -1px 0px #030504;
	   -moz-box-shadow:0 -1px 0px #030504;
	        box-shadow:0 -1px 0px #030504;
}

.compo-cat li * {
  color:#fff;
}

.compos {
  list-style:none;
  width: 100%;
  overflow: hidden;
  padding:10px 0;
}

.compos li {
    border:2px solid #2a342f;
    margin:0 20px 20px 0 ;
    background:rgba(0,0,0,0.1);
    float:left;
    width:202px;
    height:70px;
    border-left:2px solid #7dbe31;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.3);
}

.compos li a {
    padding:15px;
    display:block;
}

.compos li:hover {
    border-color:#7dbe31;
    -webkit-transition:0.25s linear border-color;
}

.compos h4 {
    margin:0;
}

.compos span {
    color:#a8b8ae
}


.compo-list dt, .compo-list dl {
    border-top:1px solid #2c3631;
    margin:0.5em 0;
    -webkit-box-shadow:0 -1px 0px #030504;
    -moz-box-shadow:0 -1px 0px #030504;
    box-shadow:0 -1px 0px #030504;
}

.compo-list dt {
  width: 300px;
}